.App {
  text-align: center;
  min-width: 600px;
  min-height: 600px;
  box-sizing: border-box;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
#gameboard{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}


/* Dock */
.dock{
  height: 240px;
  width: 800px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  margin: auto;
}

.dock_container{
  border: 1px solid black;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Block */
.block{
  width: 210px;
  height: 210px;
  align-items: center;
}
.block_clear{
  width: 40px;
  height: 40px;
  float: left;
  background-color: none;
}
.block_filled{
  width: 40px;
  height: 40px;
  float: left;
  background-color: gray;
  border:1px black solid;
  box-sizing: border-box;
}

.board_container{
  border: 1px black solid;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.row_container{
  display: flex;
  flex-direction: row;
}

.slot{
  border: 1px blue solid;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
}

.slot_filled{
  border: 1px blue solid;
  width: 40px;
  height: 40px;
  background-color: orange;
}

.slot:hover{
  background-color: gray;
}

/* .row_container */